<div id="contact">

<table>
  <tr>
    <td class="label">
      Email:
    </td>
    <td>
      <a href="mailto:info@thegraphicscompany.ie">info@thegraphicscompany.ie</a>
    </td>
  </tr>
  <tr>
    <td class="label">
      Telephone:
    </td>
    <td>
      +353 (1) 840 1311
    </td>
  </tr>
  <tr>
    <td class="label">
      Fax:
    </td>
    <td>
      +353 (1) 840 1327
    </td>
  </tr>
  <tr>
    <td class="label">
      Address:
    </td>
    <td>
      The Graphics Company, <br/>
      Unit 12, <br/> 
      Redleaf Business Park, <br/> 
      Donabate, <br/> 
      Co. Dublin, <br/> 
      Ireland
    </td>
  </tr>
</table>

<p class="label">Map</p>
<div id="googlemap">
  
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?f=q&amp;hl=en&amp;geocode=&amp;ie=UTF8&amp;attrid=&amp;ei=jFvpR-69JZGC3ALx7-inAg&amp;view=map&amp;s=AARTsJqMREKgXSk42wfURrJ4acOUl-oR0w&amp;msa=0&amp;msid=109535469553447749897.0004494894bca4aaacf9f&amp;ll=53.523166,-6.192856&amp;spn=0.142873,0.291824&amp;z=11&amp;iwloc=0004494897e7d55b6bf02&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps/ms?f=q&amp;hl=en&amp;geocode=&amp;ie=UTF8&amp;attrid=&amp;ei=jFvpR-69JZGC3ALx7-inAg&amp;view=map&amp;msa=0&amp;msid=109535469553447749897.0004494894bca4aaacf9f&amp;ll=53.523166,-6.192856&amp;spn=0.142873,0.291824&amp;z=11&amp;iwloc=0004494897e7d55b6bf02&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>

</div>