<div id="displaypanels">
  
  <h2>Display Panels</h2>
  
  <p>
  Surely the great display innovation of recent times. The pop-up and 
  single panel pull-up synonomous with a professional and graphically
  superb product / message presentation offers, in graphic and
  physical presence, an air of quality which can only enhance your 
  promotion.
  </p> 
  
  <p>
  Pop-ups come in various sizes and shapes and can now
  facilitate integrated video displays. 
  We supply, design, print 
  and install pop-up systems. 
  Call The Graphics Company 
  to discuss what might best 
  suit your requirements.
  </p>

  <div class="imageGrid">
  
    <table>
      <tr>
        <td>
          <div>
            Pull-Up Assembly
          </div>
          <div class="imgBox"><img src="/imgs/displaypanels/pull-up-assembly.jpg" /></div>
        </td>
      
        <td>
          <div>
            Full Graphic Popup Display
          </div>
          <div class="imgBox"><img src="/imgs/displaypanels/full-graphic-popup-display.jpg" /></div>
        </td>
      
        <td>
          <div>
            Pull-Up Display
          </div>
          <div class="imgBox"><img src="/imgs/displaypanels/pull-up.jpg" /></div>
        </td>
      </tr>
      
      <tr>
        <td>
          <div>
            Popup with Graphic Attachments
          </div>
          <div class="imgBox"><img src="/imgs/displaypanels/popup-with-graphics-attach.jpg" /></div>
        </td>
      
        <td>
          <div>
            Popup Display with Lighting
          </div>
          <div class="imgBox"><img src="/imgs/displaypanels/popup-display-with-lightin.jpg" /></div>
        </td>
      
        <td>
          <div>
            Popup with TV/Video
          </div>
          <div class="imgBox"><img src="/imgs/displaypanels/popup-with-tv-video.jpg" /></div>
        </td>
      </tr>
    </table>
  </div>
</div>
