<h2>Welcome to The Graphics Company</h2>

<p>
The Graphics Company is a specialist digital print company based in Dublin.
We print, print and cut, print and mount, install and apply finished graphics,
supply and prepare exhibition and general displays. 
</p>
<p>
Think innovative, once off, point of sale, posters, exhibitions, presentations,
display panels, window vinyls, brochures, flyers, labels. 
</p>
<p>
Think <em><strong>The Graphics Company</strong></em>.
</p>

<p><em>This site is still under construction, so please bear with us. </em></p>

<div id="homeContent">

  <table>
    <tr>
      <td><img src="/imgs/home/3g.jpg" /></td>
      <td><img src="/imgs/home/saltnbatter.jpg" /></td>
      <td><img src="/imgs/home/slendertone.jpg" /></td>
      <td><img src="/imgs/home/travel.jpg" /></td>
    </tr>
    <tr>
      <td><img src="/imgs/home/augkids.jpg" /></td>
      <td><img src="/imgs/home/sandboyshanging.jpg" /></td>
      <td><img src="/imgs/home/nintendo.jpg" /></td>
      <td><img src="/imgs/home/waterbottle.jpg" /></td>
    </tr>
  </table>

</div>