<div id="pointofsale">

  <h2>Point of Sale</h2>
  
  <div id="pointofsaleContent">
    
    <div>
    Point of Sale solutions represent a significant 
    projection of our work from wobblers to full scale 
    cut out graphics on card.
    </div>
    
    <div class="textContentImportant">
    So many products are available in this category it is 
    impossible to list them all. The most popular items include:
    </div>
    
    <div class="lists">
    
      <ul>
        <li>Acrylic displays all sizes</li>
        <li>Standard + backlit </li>
        <li>Snap frame poster holders</li>
        <li>Standard and backlit Totem Signs usually used for showrooms and shopping centres directions.</li>
      </ul>
      
      <ul>
        <li>Pavement and court signage including A boards.</li>
        <li>Superslim backlit displays</li>
        <li>Ceiling Hangs</li>
        <li>Counter cards</li>
      </ul>
    
    </div>
    
    <div class="imageGrid">
  
      <table>
        <tr>
          <td>
            <div>
              Ceiling Hang
            </div>
            <div class="imgBox"><img src="/imgs/pointofsale/ceiling-hang.jpg" /></div>
          </td>
        
          <td>
            <div>
              Die Cut Display
            </div>
            <div class="imgBox"><img src="/imgs/pointofsale/die-cut-display.jpg" /></div>
          </td>
        
          <td>
            <div>
              A-Board
            </div>
            <div class="imgBox"><img src="/imgs/pointofsale/a-board.jpg" /></div>
          </td>
        </tr>
        
        <tr>
          <td>
            <div>
              Acrylic Pockets
            </div>
            <div class="imgBox"><img src="/imgs/pointofsale/acrylic-pockets.jpg" /></div>
          </td>
        
          <td>
            <div>
              Backlit Display
            </div>
            <div class="imgBox"><img src="/imgs/pointofsale/backlit-display.jpg" /></div>
          </td>
        
          <td>
            <div>
              Totem Display
            </div>
            <div class="imgBox"><img src="/imgs/pointofsale/totem-display.jpg" /></div>
          </td>
        </tr>
        
        <tr>
          <td>
            <div>
              Ceiling Hang
            </div>
            <div class="imgBox"><img src="/imgs/pointofsale/ceiling-hang.jpg" /></div>
          </td>
        
          <td>
            <div>
              Over Counter Display
            </div>
            <div class="imgBox"><img src="/imgs/pointofsale/over-counter-display.jpg" /></div>
          </td>
        
          <td>
            <div>
              Leaflet Dispenser
            </div>
            <div class="imgBox"><img src="/imgs/pointofsale/leaflet-dispenser.jpg" /></div>
          </td>
        </tr>
        
      </table>
  
    </div>
    
    
  
  </div>
  
  
  
  




</div>