<div id="posters">

  <h2>Posters</h2>
  
  <div id="postersContent">
    
    <div class="textContent">
    The Graphics Company produces a wide variety of posters.
    Varying in size from A4 to Billboard size for internal,
    external and backlit applications. Posters are available 
    in any quantity and also in a variety of finishes.
    Call us and we can advise you as to which poster finish 
    best suits your needs.
    </div>
    
    
    
    <table>
      <tr>
        <td><img src="/imgs/home/3g.jpg" /></td>
        <td><img src="/imgs/home/saltnbatter.jpg" /></td>
        <td><img src="/imgs/home/slendertone.jpg" /></td>
        <td><img src="/imgs/home/travel.jpg" /></td>
      </tr>
      <tr>
        <td><img src="/imgs/home/augkids.jpg" /></td>
        <td><img src="/imgs/home/sandboyshanging.jpg" /></td>
        <td><img src="/imgs/home/nintendo.jpg" /></td>
        <td><img src="/imgs/home/waterbottle.jpg" /></td>
      </tr>
    </table>
  
  </div>
  
  
    
</div>
