<div id="windowgraphics">
  
  <h2>Window Graphics</h2>
  
  <p>
  Many businesses have window space which they 
  choose to use for promotional branding and workspace 
  management purposes. We offer a complete service from concept to 
  final installation. On this page we have samples of projects 
  which may be simliar to your requirements. Feel free 
  to give us a call to discuss any ideas you have.
  </p> 
  

  <div class="imageGrid">
  
    <table>
      <tr>
        <td>
          
          <div class="imgBox"><img src="/imgs/windowgraphics/pic1.jpg" /></div>
        </td>
      
        <td>
          
          <div class="imgBox"><img src="/imgs/windowgraphics/pic3.jpg" /></div>
        </td>
      
        <td>
          
          <div class="imgBox"><img src="/imgs/windowgraphics/pic4.jpg" /></div>
        </td>
      </tr>
      
      <tr>
        <td>
          
          <div class="imgBox"><img src="/imgs/windowgraphics/pic5.jpg" /></div>
        </td>
      
        <td>
          
          <div class="imgBox"><img src="/imgs/windowgraphics/pic6.jpg" /></div>
        </td>
      
        <td>
          
          <div class="imgBox"><img src="/imgs/windowgraphics/pic7.jpg" /></div>
        </td>
      </tr>
    </table>
  </div> 
</div>