body, input, td, th {font-family: Arial, Helvetica, sans-serif; font-size: 12px;}

#adminNavigation {
	border: 2px solid #efefef;
	float: left;
	padding: 3px;
	height: 100%;
	background-color: #9F9F9F;
	color: #ffffff;
}

#adminNavigation a {
	color: #ffffff;
	
}

#adminNavigation li {
	list-style: none;
	margin: 2px 0px 2px 0px;
}

#adminNavigation ul {
	padding-left: 2px;
	margin-left: 2px;
}

#adminContent {
	padding: 5px;
	float: left;
	margin-left: 3px;
	height: 100%;
	border: 2px solid #efefef;
	width: 700px;
}

#adminContent table, #adminContent td {
	border: 1px solid #9F9F9F;
}

#adminContent th {
	background-color: #9F9F9F;
	color: #ffffff;
}

#files th {
	width: 250px;
}

#clients th {
	width: 250px;
}

.red {color: red;}
